html{
    height: 100%;
    margin: 0;
}

body {
    background-color: #faf9f8; 
    color: #343a40; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
.container{
    text-align: center;
    margin-top: 10px;
}
.container-form{
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(74, 72, 70, 0.961); 
    height: 500px;
    text-align: center;
    width: 40%;
    margin-left: 30%;
    margin-top: 5%;
}

.form-information{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    background-color: #B7E0FF;
    border-radius: 20px;
}

.form-information-childs{
    padding: 0 30px;
}

.form-information-childs h2{
    color: rgb(52, 52, 52);
    font-size: 2rem;
}

.form{
    margin: 30px 0 0 0;
}

.form label{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 20px;
    padding: 0 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.form input{
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
}

.form label i{
    color: #252524;
}
header {
    background-color: #007bff;
    color: white;
    padding: 30px;
}

.navbar {
    border-radius: 15px;
}

.navbar-nav .nav-item {
    margin-left: 20px;
}

.navbar-brand {

    color: #007bff;
}
.btn-custom {
    background-color: #5AB2FF; 
    color: white;
    border-radius: 20px; 
    padding: 10px 20px; 
    font-size: 14px;
    font-weight: bold;
    border: none;
    margin-bottom: 20px; 
    width: 250px; 
}
.btn-custom:hover {
    background-color: #B7E0FF; 
}
.button-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}
.footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #343a40;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5%;
}
.footer .card-header a {
    color: white; 
    font-size: 20px; 
}
.footer .footer-left,
.footer .footer-right {
    flex: 1;
    margin: 10px;
}
.footer .footer-left p,
.footer .footer-right p {
    margin: 0;
}
.footer .footer-left strong {
    display: block;
    margin-bottom: 10px;
}
.footer .social-icons {
    display: flex;
    align-items: center;
}
.footer .social-icons i {
    font-size: 40px; 
    margin-right: 20px; 
    color: white; 
}
.footer .social-icons i:hover {
    color: #007bff; 
}