body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container-form{
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(74, 72, 70, 0.961); 
    height: 500px;
    text-align: center;
    width: 40%;
    margin-left: 30%;
    margin-top: 5%;
}

.form-information{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    background-color: #B7E0FF;
    border-radius: 20px;
}

.form-information-childs{
    padding: 0 30px;
}

.form-information-childs h2{
    color: rgb(52, 52, 52);
    font-size: 2rem;
}

.form{
    margin: 30px 0 0 0;
}

.form label{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    background-color: #fff;
    border-radius: 20px;
    padding: 0 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.form input{
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
}

.form label i{
    color: #252524;
}
